.section-title {
    font-size: 27px;
}

.section-text, .about-list-item {
    font-size: 17px;
}

.about-section-text {
    padding-bottom:1.5rem;
}

ul {
    padding-left: 16px; 
}

.about-list-item {
    padding-bottom: 1rem;
}

.about-section-list {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(165, 165, 165, 0.465);
    margin-bottom:2rem;
}